dist
build
bin
raptorconfig
batchoutput
target
.settings/
.classpath
.project
.idea/
*.iml
*.ipr
*.iws
ebay.log
rebel.xml
MANIFEST.MF
/tests/
/coverage/
/cobertura.ser
ebay.log*
*.class
*.jar*/target/*
**/temp_persist_config_*.xml
**/persist_mark_down.properties
*/src/main/resources/buildinfo.properties
/.idea/
**/*.iml
build.xml
ebay-build.xml
4cc.checksum
/.metadata
.DS_Store
/target
