bin
/bin
target
/target
.dist
dist
.settings
.settings/
.classpath
.project
.DS_Store
*/src/test/generated/
*/src/main/generated/
.cache-main
.cache-tests
.cache
.profiler
.DS_Store
*/.DS_Store
*.class
*.jar
*.zip
.idea
.idea/*